{% extends "base.html" %} {% load static %} {% block main %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">


<div class="container-fluid">
    <div class="wrapper">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        

<div class="col-md-6" id="lg-box">
<div class="login-container d-flex align-items-center justify-content-center">
    <div class="text-center">

        {% if msg is not None %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            
        </div>
        {% endif %}
        



    <form class="login-form text-center"  method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <h1 class="mb-3 font-weight-light text-uppercase">Entrar</h1>
        <div class="form-group">
            <input type="email" name="email" class="form-control form-control-lg rounded-pill" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control form-control-lg rounded-pill" placeholder="Senha">
        </div>

        <div class="forgot-link d-flex align-items-center justify-content-between">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="lembrar" />
                <label class="custom-control-label" for="lembrar">Lembrar senha</label>
            </div>
            <a href="#">Esqueceu sua senha?</a>
        </div>
        <button id="login-btn" type="submit" class="btn btn-vermelho btn-block btn-lg rounded-pill mt-5">Entrar</button>
    </form>
</div>
</div>
</div>
</div>

{% endblock%}