{% extends "base.html" %} {% load static %} {% block nav%} {% endblock %} {% block main %}









<div class="wrapper">

    <div class="sidebar vermelho">
        <div class="sidebar-header">
            <img src="{% static 'imgs/cisru-logo.png' %}" id="logo">
        </div>
        <ul class="side-links">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'home'%}">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'listar_func'%}">Funcionários</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'escala_mes'%}">Escala</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'cadastro'%}" class="nav-link">Cadastro</a>
            </li>
            <li class="nav-item active">
                <a href="{% url 'plantao_dia'%}" class="nav-link">
                    Folgas </a>
            </li>

        </ul>

        <a id="sair-btn" href="{% url 'logout_manager' %}" class="btn btn-light rounded-pill mb-0">Sair</a>


    </div> <!-- Fim Sidebar -->


    <!-- Botão Sidebar -->

    <nav class="navbar navbar-dark justify-content-end" id="side-nav">
        <button type="button" id="sidebarCollapse" class="btn btn-vermelho btn-sm side-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>


    <!-- Conteúdo da página -->
    <div id="content">
        <h2 class="text-center">Folgas</h2>
            <hr>

        {% block cad%}
        <div class="card-body px-lg-5 pt-5">
            <form class="text-center border border-light p-5 mr-auto" action="{% url 'plantao_dia'%}" method="POST">
                {% for message in messages%}
                <div class="alert alert-danger text-center"><strong>
                    </strong>{{message}}</div>
                {% endfor%} {% csrf_token %}
                <div class="w-75 mx-auto">
                    <div class="form-row mb-2">
                        <!-- Name -->
                        <div class="col-4">
                            <p>Escolha o Plantão</p>
                        </div>
                        <div class="col-8">
                            <select class="browser-default custom-select" name="plantao">
                                <option selected disabled></option>
                                {% for i in plantao %}
                                {% if i == "NDA"%}
                                <option value="{{i}}">Folguistas - E</option>
                                {%else%}
                                <option value="{{i}}">{{i}}</option>
                                {%endif%}
                                {%endfor%}
                            </select>
                        </div>
                    </div>


                    <div class="form-row mb-2">
                        <div class="col-4">
                            <p>Escolha o Mês</p>
                        </div>
                        <div class="col-8">
                            <select class=" browser-default custom-select" id="month" name="month">
                                <option value=1>Janeiro</option>
                                <option value=2>Fevereiro</option>
                                <option value=3>Março</option>
                                <option value=4>Abril</option>
                                <option value=5>Maio</option>
                                <option value=6>Junho</option>
                                <option value=7>Julho</option>
                                <option value=8>Agosto</option>
                                <option value=9>Setembro</option>
                                <option value=10>Outubro</option>
                                <option value=11>Novembro</option>
                                <option value=12>Dezembro</option>
                            </select>
                        </div>

                    </div>
                    <button class="btn btn-vermelho my-4 rounded-pill" type="submit">Visualizar Plantões</button>
                    <hr>
                </div>
            </form>
        </div> {% endblock%}




        <div class="col-12 mt-5 text-center">
            <div class="mb-5 pb-5">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-5">
                        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
        
                            <thead class="thead-dark">
                                <tr>
                                    {% if turno == "NDA"%}
                                    <th>Folguistas</th>
                                    {%else%}
                                    <th class="th-sm">{{turno}}
                                    </th>
                                    {%endif%}
                                </tr>
                            </thead>
                            <tbody>
                                {% if turno == "NDA"%} {% for plantao in folga_plantao_e %}
                                <tr>
                                    <td> Folga : {{plantao|date:"d /M /Y"}}
                                </tr>
                                {% endfor%} {% for plantao in plantaoExtra %}
                                <tr>
                                    <td>Plantão Extra : {{plantao.data|date:"d /M /Y"}}
                                        <span>//</span><a href="{% url 'apagar_plantao' plantao.data%}" class="confirm" data-toggle="confirmation" data-title="Deseja Deletar Produto?"><i
                                                class="fa fa-trash ml-3" aria-hidden="true"></i></a>
                                </tr>
                                {% endfor%} {%else%} {% for plantao in plantaofolga %}
                                <tr>
                                    <td> Folga : {{plantao.data|date:"d /M /Y"}}
                                        <span>//</span><a href="{% url 'apagar_plantao' plantao.data%}" class="confirm" data-toggle="confirmation" data-title="Deseja Deletar Produto?"><i
                                                class="fa fa-trash ml-3" aria-hidden="true"></i></a>
                                </tr>
                                {% endfor%} {% for plantao in plantaoExtra %} {% if turno == plantao.plantao.turno%}
                                <tr>
                                    <td>Folga( Em caráter especial) : {{plantao.data|date:"d /M /Y"}}
                                        <span>//</span><a href="{% url 'apagar_plantao' plantao.data%}" class="confirm" data-toggle="confirmation" data-title="Deseja Deletar Produto?"><i
                                                class="fa fa-trash ml-3" aria-hidden="true"></i></a>
                                </tr>
                                {%endif%} {% endfor%} {%endif%}
                            </tbody>
        
        
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-5">
                        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
        
                            <thead class="thead-dark">
                                <tr>
                                    <th>Total de Plantões</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{totalPlantoes}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div> <!-- Fim Conteúdo Página -->


</div> <!-- Fim Wrapper -->







{% endblock%}